#container{
    width: 640px; 
    margin:0 auto;  
}
#check{
    /* width: 638px; */
    border: 1px solid #ccc;
}
h1{
    font-size: 1em;
    background-color: #000;
    color: #fff;
    padding:10px;
    margin: 0;
}
h2{color:#f00; font-size: 1.5em; text-align: center;}
p{font-size: 1.2em; font-weight: bold; line-height: 2em; text-align: center;}
.accent{color:#00f;}
.smalltext{font-size:0.7em}
