#bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;  /*최소 크기가 브라우저와 같다*/
    max-width: 100%;
    z-index: -10;
    background: url("../images/flame.jpg") no-repeat left top;
    background-size: cover;
}
#content{
    margin-top: 30%;   /*위치가 브라우저의 30% 크기 위치*/
    margin-left: 40%;
}
h2{font-size: 2em; /*기본크기(16px)의 2배*/} 
h1{font-size: 3em;} 
a{
    text-decoration: none;
    color: #222;
}