 *{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
#wrap{
  width: 250px; 
  height: 350px;
  margin: 5px auto;
  padding: 40px 20px;
  background: url(../images/notice.jpg) no-repeat;
  background-size: cover;
}
h3{padding: 10px 10px 0; color: #00f;}
ul li{margin: 10px 30px;}
